---
import LinkedIn from "../assets/linkedin.svg";
---

<header
  class="mx-100 flex h-30 items-center justify-between p-4 text-2xl font-bold"
>
  <h1><a href="/">devOtto</a></h1>
  <ul>
    <li><a href="/blog/">Blog</a></li>
  </ul>
  <LinkedIn />
  <button
    class="rounded-full border-1 border-white p-2 text-xl hover:bg-white hover:text-blue-950"
    >Contact Me</button
  >
</header>
