<section
  class="mx-auto my-25 flex h-160 w-xl rounded-2xl border-2 border-white p-8"
>
  <p class="text-2xl text-balance">
    Hi! I'm <span class="text-purple-500">Carlos López Otto</span>! I build
    websites with love ♥️ and passion! Focus on the details because I've always
    been a user.
  </p>
</section>
