---
const { title, description } = Astro.props;
---

<article
  class="flex h-screen w-full shrink-0 snap-start items-center justify-center border-1 border-zinc-300 bg-linear-to-br from-cyan-500/0 from-40% to-cyan-500/100"
>
  <h3 class="text-center text-3xl font-bold">{title}</h3>
  <img src="" alt="" />
  <p>{description}</p>
</article>
