---
import Project from "./Project.astro";
---

<section
  class="flex w-full snap-x snap-mandatory snap-start overflow-x-auto scroll-smooth"
>
  <Project title="Calculator" />
  <Project title="PokeDex" />
  <Project title="" />
  <Project />
</section>

<style>
  section {
    scrollbar-width: none;
  }
</style>
